# Ignore npm modules directory
/node_modules

# Ignore hidden files in project directory
/.*
# Except gitignore itself
!/.gitignore

# TW MultiWikiServer database
/public/mws/store
/public/mws/archive

# Ignore TiddlyWiki story list(s) and import tiddlers
\$__StoryList*
\$__Import.tid

# Ignore Node-Red backups
*.json.backup
