# Ignore npm modules directory
/node_modules

# Ignore hidden files in project directory
/.*
# Except gitignore itself
!/.gitignore

# TW MultiWikiServer database
/public/mws/store
/public/mws/archive

# Ignore story list(s)
\$__StoryList*
