/* hide the tiddler controls - info, edit, close */
[data-tags*="$:/tags/poc2go/hidecontrols"].tc-tiddler-view-frame .tc-tiddler-controls {
    display: none;
}
/* hide tags display */
[data-tags*="$:/tags/poc2go/hidecontrols"].tc-tiddler-view-frame .tc-tags-wrapper {
    display: none;
}
/* Rounded blue borders for project tiddlers */
[data-tags*="Projects"].tc-tiddler-view-frame {
    border: 1px solid #006994;
    border-radius: 20px;
}
/* Thick rounded borders for documentation tiddlers */
[data-tags*="Projectdocs"].tc-tiddler-view-frame {
    border: 2px solid #006994;
    border-radius: 20px;
}
/* Do not display 'paperclip' on document tabs */
[data-tags*="Projectdocs"].tc-tiddler-view-frame .tc-tab-selected + .wltc-link-to-tab {
    display: none;
}
.poc2go-tabs-close {
  float:right;
  margin-top: .6em;
}
.poc2go-tiddler-top {
  float:right;
  margin-top: .6em;
}

pre.hljs {
  border: solid 1px aqua;
}
blockquote {
  border: solid 1px silver;
  border-radius: 15px;
  padding-right: .3em;
}
summary::marker {
  border-top: solid 1px aqua;
}
.details-border {
  border-top: solid 1px aqua;
}
.poc2go-exclaim {
  color:red;
  background-color:lightcyan;
  padding: .3em 1em;
  border-radius: 6px;
}
.poc2go-mono {
  font-family: Monospace;
  font-size: 1.1em;
}
.poc2go-url {
  width: 50%;
}
.poc2go-hr {
  opacity: .6;
  margin: 0 10% 0 10%;
}
.poc2go-delete-confirm {
  padding: 0 0.6em 0 0.6em;
  border: 1px solid red;
}
.poc2go-center {
  text-align: center;
}
.poc2go-detail {
  font-family: Courier New, Courier, Monospace;
  font-size: 0.95em;
  min-width: 450px;
  max-height: 550px;
  overflow: auto;
}